# Node.js
**/node_modules/
node_modules/
npm-debug.log
yarn-error.log

# AI Context
.agents/

# Environment Variables
.env
.env.test
.env.production
Google_OAuth.json
movie-booking-server_key.pem


# Logs
logs
*.log
backend/logs/

# OS Files
.DS_Store
Thumbs.db

# Database Backups & Dumps
backups/
*.sql
*.sql.gz
